/* tyyli */
body {
  margin: 0;
  font-family: Arial, sans-serif, Verdana;
  background-color: aliceblue;
}

.container{
    width:70%;
    margin:auto;
}

main {
    background-color: antiquewhite;
}

/* header */
header{
    background-color: beige;
}


/* footer */
footer{
    background-color: honeydew;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}


.site-header{
    position:static
}
.header-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:60px
}
.logo{
    font-size:20px;
}
.logo img{
    display:block;
    height: 60px;
    width: auto;
}


.nav a{
    margin-left:24px;
    color: darkred;
    text-decoration:none
}
.nav a:hover{
    text-decoration:underline;
}

.intro{
    padding-top:112px;
    text-align:center;
}
.intro-title{
    font-size:60px;
    line-height:60px;
    margin-bottom:24px;
}

.intro-logo{
    width:420px;
    max-width:80%;
    height:auto;
    margin: 0 auto;
    display:block;
}
.intro-image{
    max-width:100%;
    max-height:100%;
    margin:0 auto;
    border-radius:10px;
    overflow:hidden;
}
.intro-image img{
    width:1062px;
    height:597px;
    object-fit: fill;
    display:block;
}


/* tuotteet */
.product-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
    margin-top:32px;
}
.page-title{
    font-size:40px;
    text-align:center;
    margin-bottom:18px;
    padding-bottom:20px;
}
.products-tyyli-image{
    max-width:100%;
    max-height:100%;
    margin:0 auto;
    border-radius:10px;
    overflow:hidden;
}
.products-tyyli-image img{
    width:1062px;
    height:597px;
    object-fit: fill;
    display:block;
}
.products-intro{
    max-width:768px;
    margin:24px auto;
    color: black;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
    margin-top:32px;
}

.prod{
    background: wheat;
    border: black solid;
    padding:20px;
    border-radius:10px;
}

.prod-image{
    height:296px;
    border-radius:8px;
    object-fit: fill;
    overflow:hidden;
}

.prod-image img{
    width:200px;
    height:310px;
    display:block;
    margin:auto;
}

.prod h3{font-size:18px;
    margin-bottom:6px;
}

.muted{
    color: darkblue;
    font-size:14px;
    margin-bottom:8px;
}

/* ota yhteyttä */
.contact-grid{
    display:grid;
    grid-template-columns:1fr 460px;
    gap:48px;
    padding-top:80px;
    align-items:center;
    height: 500px;
}
.contact-info h1{
    font-size:30px;
    margin-bottom:80px;
}
.contact-info h2{
    font-size:12px;
    margin-top:12px;
    margin-bottom:6px;
}
.contact-map{
    flex:1;
    display:flex;
}
.contact-image img{
    width:100%;
    height:auto;
    object-fit:cover;
    display:block;
    margin:auto;
    border-radius:10px;
    flex-wrap: wrap;
}

